body{
  height:100vh
}

#root{
  height:100%;
}

.container{
  display:flex;
  background-color: #2596be;
  position:relative;
}

@media(min-width:800px){
  .container{
    max-width:40%;
    height:85vh;
    margin:7.5vh auto 7.5vh auto;
  }
  .contactContainer{
    max-width:40%;
    height:85vh;
    margin:7.5vh auto 7.5vh auto;
  }
}

.contactList{
  width:100%;
  /* display: flex; */
  padding:30px;
 
  overflow: auto;
}

.contactListItem{
  margin:10px 0px;
  width:100%;
}

#listDiv{
  width:100%
}
.contactContainer{
  display:flex;
  height:80vh;
  margin:50px auto;
  background-color:#f2eae9;
  position:relative;
}
.card{
  width:80%;
  /* height:100%; */
  margin:auto;
  padding:50px 0px 50px 0px;
}

.card-inner{
  padding:10px;
}

#cardContent{
  text-align: center;
}

.userImage{
  height:140;
}

.avatar{
  height:140px
}

#avatar .MuiAvatar-root{
  height:100px !important;
  width:100px !important;
  margin:auto;
}
.MuiCardActions-root{
  padding:0px !important;
}
.btnClass{
  width:100%;
}
.nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li{
  padding-right:10px;
}

.header{
  width:100%;
  display: flex;
  justify-content: space-between;
}

.formControl{
  min-width:120px !important;
}

.noData{
  /* display: flex;
  text-align: center;
  justify-content: center; */
}
.noDataContainer{
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:#ffffff;
}

.deleteIcon{
  margin:auto;
}

.GoBackBtn{
  width:100px;
  margin: auto !important;
}

.iconCls{
  width: 80%;
  margin:auto;
  border-radius: 0px !important;
  padding:10px 0px;
}

.arrowBackIcon{
  padding-left: 10px;
}

.favIcon{
  padding-right: 10px;
}
